@import "../../scss/variables.scss";

:root {
  --sidebar-width: 330px;
}

.layout {
  background-color: get-color($background, "100");

  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: var(--sidebar-width);
    height: 100vh;
    background-color: get-color($background, "200");
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }

  .main-content {
    margin-left: var(--sidebar-width);
    height: 100vh;
    overflow-y: auto;
    background-color: #ffffff;
  }
}
