@import "~react-image-gallery/styles/css/image-gallery.css";

/* room Details */
.room_details {
  .image-gallery-thumbnail {

    &:hover,
    &.active {
      border-color: var(--primaryClr);
    }
  }

  .nav_bars {
    background-color: #f14b361a;
    padding: 8px;

    .nav-link {
      font-size: 16px;
      font-weight: bold;
      padding: 10px 0;
      color: black;
    }

    .nav-item {
      flex-basis: 0;
      flex-grow: 1;
      text-align: center;
    }
  }

  .nav-pills {
    .nav-link.active,
    .show>.nav-link {
      color: white;
      background-color: var(--primaryClr);
    }
  }

  .list-group-item {
    padding: 16px 0;
    border: none;
    font-size: var(--bodyText);
    background: unset;
    line-height: 24px;
    border-bottom: 1px solid gainsboro;

    strong {
      font-weight: bold;
    }
  }

  .accordion,
  .accordion-item {
    border: none;
  }

  .accordion-header button {
    background: #f5f5f6;
    border: none;
    border-radius: 8px;

    &:focus {
      border: none;
      outline: none;
      box-shadow: none !important;
    }
  }

  .card-info {
    background: #f5f5f6;
    border: none;

    i {
      color: var(--primaryClr);
    }
  }
}
