.feature-section {
    padding: 40px 0;
    overflow: hidden;
  
    .slick-active {
      border: none !important;
    }
  
    .card {
      border: none !important;
      text-align: center;
      padding: 0 14px;
      margin-bottom: 14px;
  
      img {
        width: 75px;
        margin: 0 auto;
        margin-bottom: 14px;
      }
  
      .card-title {
        font-size: var(--subTitle);
        padding: 12px 0;
        font-weight: bold;
      }
  
      .card-text {
        font-size: var(--bodyText);
        line-height: 22px;
        color: var(--textclr);
      }
  
      &:hover .card-title {
        color: var(--primaryClr);
      }
    }
  }
  